@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --ff-title: 'Poppins','Rubik', Verdana;
    --ff-general: 'Figtree','Atkinson Hyperlegible', system-ui;

    --fs-100: clamp(0.55rem, 0.92vw + 0.32rem, 0.9rem);
    --fs-200: clamp(0.6rem, 1.025vw + 0.35rem, 1rem);
    --fs-300: clamp(0.7rem, 1.15vw + 0.4rem, 1.125rem);
    --fs-400: clamp(0.8rem, 1.28vw + 0.45rem, 1.25rem);
    --fs-500: clamp(1rem, 1.66vw + 0.6rem, 1.625rem);
    --fs-600: clamp(1.08rem, 1.8vw + 0.63rem, 1.75rem);

    --fs-900: clamp(1.4375rem, 1.5vw + 1.0625rem, 2rem);

    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --blue-50: #EFF6FF;
    --blue-100: #DBEAFE;
    --blue-200: #BFDBFE;
    --blue-300: #93C5FD;
    --blue-400: #60A5FA;
    --blue-500: #3B82F6;
    --blue-600: #2563EB;
    --blue-700: #1D4ED8;
    --blue-800: #1E40AF;
    --blue-900: #1E3A8A;
    --blue-950: #172554;

    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-300: #a5b4fc;
    --indigo-400: #818cf8;
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --indigo-900: #312e81;
    --indigo-950: #1e1b4b;

    --amber-50: #fffbeb;
    --amber-100: #fef3c7;
    --amber-200: #fde68a;
    --amber-300: #fcd34d;
    --amber-400: #fbbf24;
    --amber-500: #f59e0b;
    --amber-600: #d97706;
    --amber-700: #b45309;
    --amber-800: #92400e;
    --amber-900: #78350f;
    --amber-950: #451a03;

    --orange-50: #fff7ed;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
    --orange-800: #9a3412;
    --orange-900: #7c2d12;
    --orange-950: #431407;


    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --green-950: #052e16;

    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --red-950: #450a0a;

    --main-50: var(--indigo-50);
    --main-100: var(--indigo-100);
    --main-200: var(--indigo-200);
    --main-300: var(--indigo-300);
    --main-400: var(--indigo-400);
    --main-500: var(--indigo-500);
    --main-600: var(--indigo-600);
    --main-700: var(--indigo-700);
    --main-800: var(--indigo-800);
    --main-900: var(--indigo-900);
    --main-950: var(--indigo-950);

    --accent-50: var(--amber-50);
    --accent-100: var(--amber-100);
    --accent-200: var(--amber-200);
    --accent-300: var(--amber-300);
    --accent-400: var(--amber-400);
    --accent-500: var(--amber-500);
    --accent-600: var(--amber-600);
    --accent-700: var(--amber-700);
    --accent-800: var(--amber-800);
    --accent-900: var(--amber-900);
    --accent-950: var(--amber-950);

    --space: 0.5rem;
}

.register {
    display: none;
}

/* General Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: calc(60.44px + 2rem);
}

body {
    overflow-y: overlay;
    margin: 0;
    background-color: #ffe6f0;
    font-size: 100%;
    font-family: var(--ff-general);
    overflow-x: hidden;
}

a:hover,
a:visited,
a:link {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

/* Custom Scrollbar Section */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    margin-block: 0.5em;
    border-radius: 100vw;
    background: #BFDBFE;/*rgba(115, 115, 115, 0.25);*/
}

body::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: #f6a070; /*var(--accent-400);*/
}

body::-webkit-scrollbar-track-piece:start,body::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

@supports (scrollbar-color: white white) {
    body {
        scrollbar-width: thin;
        scrollbar-color: #f6a070 #BFDBFE;/*var(--accent-400) rgba(115, 115, 115, 0.25);*/
    }
}

::selection {
    background: var(--accent-400);
    color: var(--neutral-700);
}

/* Layout Specifications */
.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}

/* Navigation Bar Section */
header {
    background: #ffffff;
    text-align: center;

    position: sticky;
    /*Maybe absolute is better, priviously : fixed*/
    z-index: 999;

    width: 100%;
    left: 0;
    box-shadow: 0px 0px 1px rgb(10, 22, 70, 0.06), 0px 1px 1px rgb(10, 22, 70, 0.1);
}

.logo {
    height: 60.44px;
    margin-block: 1rem;
}

.navbar {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #ffffff;
    width: 100%;
    transform: scale(1, 0);

    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar button {
    margin: 0 0 1rem 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--main-500);
}

header a {
    color: #191a1b;
    text-decoration: none;
    font-size: var(--fs-400);
    text-transform: uppercase;
    opacity: 0;

    transition: 150ms ease-in-out;
}

@media screen and (orientation: portrait) {
    .navbar a:hover {
        color: var(--accent-400);
    }
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;

    height: 100%;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    margin-left: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #ffffff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;

    height: 100%;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    margin-left: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #ffffff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

@media screen and (orientation:landscape) {

    .nav-toggle-label {
        display: none;
    }

    header {
        position: fixed;
        display: grid;
        grid-template-columns: 0.5fr auto 2fr auto 3fr auto 0.5fr;
    }

    header>img {
        grid-column: 2 / 3;
    }

    .navbar {
        all: unset;
        grid-column: 4 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: unset;
        height: 100%;
    }

    .navbar button {
        position: relative;
        margin: 0;
        border: none;
        cursor: pointer;
        background-color: #ffffff;
        transition: background-color 250ms;

        position: relative;
        isolation: isolate;
        overflow: hidden;
        font-family: var(--ff-title);
        font-weight: bold;
    }

    .navbar button + button {
        padding: 0 0.6rem 0 2.8rem;
    }

    .navbar button:hover,
    .navbar button:focus-visible {
        color: #f6a070;
    }

    .navbar button>span {
        position: absolute;
        z-index: -1;
        width: 33.333%;
        height: 100%;

        background: transparent;
        opacity: 0.5;
    }

    .navbar button> :first-child {
        left: 0;
        top: 0;
    }

    .navbar button> :last-child {
        right: 0;
        top: 0;
    }

    .navbar button::before {
        content: "";
        position: absolute;
        z-index: -1;
        /*background: #f38040;*/
        width: 10%;
        aspect-ratio: 1;
        border-radius: 50%;
        inset: 0;
        margin: auto;
        opacity: 0;

        transition: transform 1000ms 200ms, opacity 200ms;
    }

    .navbar button:active::before {
        transform: scale(20);
        opacity: 1;

        transition: transform 1000ms, opacity 500ms;
    }

    .navbar button:has(:first-child:active)::before {
        margin-left: 0;
    }

    .navbar button:has(:last-child:active)::before {
        margin-right: 0;
    }

    .navbar button:has(:first-child:active)::before,
    .navbar button:has(:last-child:active)::before {
        transition: transform 500ms, opacity 250ms;
    }

    .navbar a {
        opacity: 1;
        position: relative;
        transition: ease-out 375ms;
    }
    .navbar button:hover a, .navbar button:focus-visible a {
        color: #f6a070;
        transition: ease 225ms;
    }

    .navbar a::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 100%;
        border-radius: 100vw;
        bottom: -8px;
        left: 0;
        background: #f6a070;/*#f38040;*/
        transform: scale(0,1);
        transition: transform 350ms ease-in;
    }


    .navbar a:hover::before {
        transform: scale(1,1);
        transition: transform 250ms ease-out;
    }

    .register {
        display: block;
        grid-column: 6/7;
        margin: 0;
        padding: 0 1rem;
        border: none;
        cursor: pointer;
        background-color: transparent;

        font-family: var(--ff-title);
        font-weight: bold;
        text-transform: none;
    }

    .register a {
        opacity: 1;
        transition: ease-out 375ms;
        color: #ffffff;
        
        text-transform: capitalize;
        background-image: linear-gradient(135deg, #2c6be5 50%, #f38040 50%);
        background-size: 500%;
        padding: var(--fs-100) calc(2*var(--fs-200));
        border-radius: var(--fs-500);
        transition: color 700ms ease-in, border-radius 700ms ease-in;
        animation: bg-animation-out 700ms ease-in;
    }
    .register:hover a, .register:focus-visible a {
        color: #ffffff;
        border-radius: var(--fs-100);
        transition: color 550ms ease-out, border-radius 550ms ease-out;
        animation: bg-animation-in 550ms ease-out forwards;
    }

    @keyframes bg-animation-in {
        0% {
            background-position: left;
        }
    
        100% {
            background-position: right;
        }
    }

    @keyframes bg-animation-out {
        0% {
            background-position: right;
        }
        100% {
            background-position: left;
        }
    }
}

section {
    display: grid;
    grid-template-rows: auto 2.25fr;
    font-family: var(--ff-title);
    text-align: center;
}

.title {
    display: inline-block;
    position: relative;
    font-size: calc(var(--fs-600) + 20px);
    margin-inline: auto;
    line-height: 55px;
    font-weight: 700;
    color: #2c6be5;
    text-shadow: 2px -2px #ffffff, 4px -3px #f38040;
    text-transform: uppercase;
}

.title::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 100vw;
    background-color: #f38040;
    bottom: -0.2rem;
    left: 0;
}

section>div:last-of-type{
    font-family: var(--ff-general);
    font-size: var(--fs-600);
    font-weight: 400;
    line-height: 36px;
}

section>div>p {
    margin-inline: 2rem;
}

#landing {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    padding-top:calc(60.44px + 2rem);
    height: calc(100dvh - 60.44px - 2rem);
}

#landing>div:nth-of-type(1) {
    margin-left: 1.8rem;
}

#landing>div:nth-of-type(2) {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    position: relative;
}

#landing>div:nth-of-type(2)::before {
    content: '';
    position: absolute;
    display: block;
    height: 30vw;
    width: 90%;
    bottom: -10%;
    left: 5%;
    border-radius: 100vw;
    background-image:  linear-gradient(rgba(46, 107, 229, 0.2) 1px, transparent 1px), linear-gradient(to right, rgba(46, 107, 229, 0.2) 1px, transparent 1px);
    background-size: 4rem 6rem;
    z-index: -1;
    box-shadow: inset 1rem 1rem 20px #ffe6f0, inset -1rem -1rem 20px #ffe6f0, inset -1rem 1rem 20px #ffe6f0, inset 1rem -1rem 20px #ffe6f0;
}

.big-title {
    position: relative;
    margin-block: 1rem;
    font-family: var(--ff-title);
    font-size: calc(var(--fs-900) + 25px);
    font-weight: 900;
    color: #f38040;
    text-transform: capitalize;
}

.big-title + .big-title{
    margin-top: 0;
}

.pink-tile::before {
    content: '';
    position: absolute;
    display: block;
    height: var(--fs-600);
    width: 8.8ch;
    bottom: 5px;
    left: -0.6rem;
    background-color: #f4d1f3;
    z-index: -1;
}

.sub-heading {
    font-size: var(--fs-600);
    font-weight: 700;
    color: #2c6be5;
    width: 16ch;
}

#landing .register  {

}

#landing video {
    max-width: 35vw;
    border-radius: 2rem;
    margin-inline: auto;
    box-shadow: calc(-1*var(--fs-600)) calc(-1*var(--fs-200)) #2c6be5,
                calc(-2*var(--fs-600)) calc(-2*var(--fs-200)) #f38040;
    animation: swirly 5500ms ease-in infinite alternate;
}

@keyframes swirly {
    0%, 2% {
        box-shadow: calc(-1*var(--fs-600)) calc(-1*cos(1.05*0deg)*var(--fs-200)) #2c6be5,
                calc(-2*var(--fs-600)) calc(-2*cos(45deg)*var(--fs-200)) #f38040;
    }
    50% {
        box-shadow: calc(-1*var(--fs-600)) calc(-1*cos(1.05*150deg)*var(--fs-200)) #2c6be5,
                calc(-2*var(--fs-600)) calc(-2*cos(195deg)*var(--fs-200)) #f38040;
    }
    98%, 100%{
        box-shadow: calc(-1*var(--fs-600)) calc(-1*cos(1.05*360deg)*var(--fs-200)) #2c6be5,
                calc(-2*var(--fs-600)) calc(-2*cos(405deg)*var(--fs-200)) #f38040;
    }
}

#about {
    position: relative;
    min-height: 80vh;
    min-height: 80dvh;
}

#about>div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c6be5;
    color: #ffffff;
}

#about>div>p {
    margin-inline: 7.6rem;
    margin-block: 1rem;
    max-width: 75ch;
}
/*
#about::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -6rem;
    left: -5.2rem;
    background:#2c6be5;
    height: 16.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    z-index: -1;
}

#about::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -6rem;
    left: -5.2rem;
    background: #f38040;
    height: 15.25rem;
    aspect-ratio: 1;
    border-radius: 100vw;
}
*/
#about::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -6rem;
    left: -5.2rem;
    background: #f38040;
    border: 1.25rem solid #2c6be5;
    /*outline: 5px dashed #f38040;
    outline-offset: calc(1.25rem/2);*/
    height: 15.25rem;
    aspect-ratio: 1;
    border-radius: 100vw;
}

#about>.camera {
    position: absolute;
    display: block;
    top: 7rem;
    right: 1.6rem;
    background-color: #f38040;
    border: 3px solid #2c6be5;
    height: 7rem;
    aspect-ratio: 1;
    border-radius: 10px;
    box-shadow: 3px 6px #2c6be5;
    padding: 1rem;
    transition: all 750ms ease-in;
}

#about>.camera:hover {
    top: 7.2rem;
    right: 1.4rem;
    background-color: #f17330;
    fill: #133d91;
    box-shadow: none;
    transition: all 350ms ease-out;
}

#agenda {
    display: block;
    margin-block: 10rem;
    margin-inline: 5rem;
}

#agenda>div {
    position: relative;
    border-radius: 20px;
    outline: 6px dashed #f38040;
    outline-offset: -6px ;
    overflow: hidden;
}

#agenda>div/*>div*/ {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#agenda>div::before, #agenda>div::after {
    content: '';
    position: absolute;
    display: block;
    background: #2c6be5;
    border: 1.25rem solid #f38040;
    /*outline: 5px dashed #f38040;
    outline-offset: calc(1.25rem/2);*/
    height: 10.5rem;
    aspect-ratio:1;
    border-radius: 100vw;
}

#agenda>div::before {
    top: -6rem;
    right: 0.8rem;
}

#agenda>div::after{   
    bottom: -6rem;
    left: 0.8rem;
}

.event {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto ;
    background-color: rgba(43, 105, 230, 0.2);
    margin: 1rem auto 3rem auto;
    border-radius: 20px;
    font-family: var(--ff-general);
    font-size: var(--fs-300);
    padding-left: 2rem;
    padding-right: 1rem;
}

.event:last-of-type {
    margin-bottom: 8rem;
}

.event>.camera {
    position: absolute;
    display: block;
    background: #f38040;
    bottom: calc(-3.5rem/2);
    left: calc(-3.5rem/2 + 10px);
    height: 3.5rem;
    aspect-ratio: 1;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(46, 107, 229, 0.2);
    padding: 0.75rem;
}

.event>p {
    margin: 0;
}

.event>p:nth-child(1){
    font-family: var(--ff-title);
    font-size: var(--fs-500);
    text-align: left;
    
    color: #2c6be5;
    font-weight: 700;
    line-height: 56px;
    margin-top: 1rem;
    text-transform: capitalize;
}

.event>p:nth-child(2){
    text-align: right;
    font-weight: 700;
    color: #F7FAFB;
    margin-top: 10px;
    margin-right: 10px;
    text-shadow: -1px 1px 0 #F38040, 1px 1px 0 #F38040, 1px -1px 0 #F38040, -1px -1px 0 #F38040;
}

.event>p:nth-child(3){
    text-align: left;
    line-height: 28px;
    max-width: 640px;
    margin-bottom: calc(3.5rem/2 + 10px);
}

#workshops,
#gallery         {
    position: relative;
    overflow: visible;
}

#workshops::before,#workshops::after,
#gallery::before  {
    content: '';
    position: absolute;
    display: block;
    background: #f38040;
    border: calc(4.625rem/2) solid #2c6be5;
    outline: 5px dashed #f38040;
    outline-offset: calc(3.875rem/2);
    height: 10.625rem;
    aspect-ratio: 1;
    border-radius: 100vw;
}

#workshops::before,
#gallery::before       {
    top: -6rem;
    right: -5.2rem;
    transform: rotate(10deg);
    animation: rotation 60s ease infinite alternate-reverse;
}

#workshops::after {
    bottom: -10.6rem;
    /*bottom: -6rem;*/
    left: -5.2rem;
    transform: rotate(-10deg);
    animation: rotation 60s ease infinite alternate;
}

@keyframes rotation {
    5% {
        rotate: 0deg;
    }

    50% {
        rotate: 195deg;
    }

    75% {
        rotate: 285deg;
    }

    100% {
        rotate: 360deg;
    }
    
}

#workshops>div {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: auto 1fr;
    outline: 6px dashed #f38040;
    outline-offset: -6px;
    background-color: rgba(43, 105, 230, 0.2);
    margin: auto;
    border-radius: 85px;
    min-height: 25rem;
    max-width: 80vw;
}

.w-slide-input {
    display: none;
}

.w-left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3;
}

.w-accordion {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    width: clamp(310px, 53.13496281vw + 139.968119px, 810px);
    max-width: 50vw;
}

.w-slide {
    list-style-type: none;
    margin: 0;
    min-width: 0;
    height: min-content;
    min-height: 22rem;
    visibility: hidden;
    font-family: var(--ff-title);
    font-size: var(--fs-500);
    font-weight: 600;
}

.w-slide * {
    opacity: 0;
    transition: opacity 350ms ease-in-out 150ms;
}

.w-slide>p{
    position: relative;
    margin-top: 49px;
    line-height: 32.5px;
}

.w-slide>p:nth-child(1)::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    bottom: -37px;
    left: 0;
    outline: 2px dashed #F38040;
}

.w-slide>p:nth-child(2) {
    font-family: var(--ff-general);
    font-size: var(--fs-400);
    font-weight: 300;
    line-height: 36px;
    margin-top: 60px;
}

.w-slide-input:nth-child(1):not(:checked)~.w-accordion>.w-slide:nth-child(1) *,
.w-slide-input:nth-child(2):not(:checked)~.w-accordion>.w-slide:nth-child(2) *,
.w-slide-input:nth-child(3):not(:checked)~.w-accordion>.w-slide:nth-child(3) *,
.w-slide-input:nth-child(4):not(:checked)~.w-accordion>.w-slide:nth-child(4) * {
    font-size: 0;
}

.w-slide-input:nth-child(1):checked~.w-accordion {
    grid-template-columns: 1fr 0fr 0fr 0fr;
}

.w-slide-input:nth-child(2):checked~.w-accordion {
    grid-template-columns: 0fr 1fr 0fr 0fr;
}

.w-slide-input:nth-child(3):checked~.w-accordion {
    grid-template-columns: 0fr 0fr 1fr 0fr;
}

.w-slide-input:nth-child(4):checked~.w-accordion {
    grid-template-columns: 0fr 0fr 0fr 1fr;
}

.w-slide-input:nth-child(1):checked~.w-accordion>.w-slide:nth-child(1),
.w-slide-input:nth-child(2):checked~.w-accordion>.w-slide:nth-child(2),
.w-slide-input:nth-child(3):checked~.w-accordion>.w-slide:nth-child(3),
.w-slide-input:nth-child(4):checked~.w-accordion>.w-slide:nth-child(4) {
    visibility: visible;
}

.w-slide-input:nth-child(1):checked~.w-accordion>.w-slide:nth-child(1) *,
.w-slide-input:nth-child(2):checked~.w-accordion>.w-slide:nth-child(2) *,
.w-slide-input:nth-child(3):checked~.w-accordion>.w-slide:nth-child(3) *,
.w-slide-input:nth-child(4):checked~.w-accordion>.w-slide:nth-child(4) * {
    opacity: 1;
    transition: opacity 350ms ease-in-out 150ms;
}

.w-navigation {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.input-label {
    display: block;
    height: 1rem;
    aspect-ratio: 1;
    background-color: #F38040;
    margin-inline: 1rem;
    border-radius: 100vw;
    opacity: 0.3;
    transition: opacity 175ms ease-in;
    cursor: pointer;
}

.w-slide-input:nth-child(1):checked~.w-navigation>.input-label:nth-child(1),
.w-slide-input:nth-child(2):checked~.w-navigation>.input-label:nth-child(2),
.w-slide-input:nth-child(3):checked~.w-navigation>.input-label:nth-child(3),
.w-slide-input:nth-child(4):checked~.w-navigation>.input-label:nth-child(4) {
    opacity: 1;
    transition: opacity 250ms ease-out;
    cursor: auto;
}

.w-right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/3;
}

.w-left-arrow>div,.w-right-arrow>div {
    height: 3.6rem;
    aspect-ratio: 1;
    background-color: #F38040;
    border-radius: 100vw;
    margin-inline: 1.6rem;
    border: 2px solid #F38040;
    fill: white;
    padding: 0.8rem;
    transition: fill 175ms ease-in, background-color 175ms ease-in;
    cursor: pointer;
}

.w-left-arrow>div>svg,.w-right-arrow>div>svg {
    display: block;
    margin: auto;
}

.w-slide-input:nth-child(1):checked~.w-left-arrow>div,
.w-slide-input:nth-child(4):checked~.w-right-arrow>div  {
    background-color: transparent;
    fill: #F38040;
    transition: fill 250ms ease-out, background-color 250ms ease-out;
    cursor: auto;
}

#jury {
    margin-block: 10rem;
}

#jury>div {
    display: grid;
    grid-template-rows: clamp(100px,300px,400px) 1fr;
    background-color: rgba(43, 105, 230, 0.2);
    margin: auto;
    border-radius: 85px;
    max-width: 80vw;
}

.j-slide-input {
    display: none;
}

.j-accordion {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    width: clamp(310px, 53.13496281vw + 139.968119px, 810px);
    max-width: 50vw;
}

.j-slide {
    position: relative;
    display: grid;
    grid-template-columns:auto 1fr ;
    list-style-type: none;
    margin: 0;
    min-width: 0;
    height: min-content;
    min-height: 22rem;
    visibility: hidden;
    font-family: var(--ff-title);
    font-size: var(--fs-500);
    font-weight: 600;
}

.j-slide * {
    opacity: 0;
    transition: opacity 350ms ease-in-out 150ms;
}

.j-slide>img {
    position: relative;
    display: block;
    height: 14rem;
    object-fit: cover;
    aspect-ratio: 1;
    border: 4px solid #f38040;
    border-radius: 33px;
    transform: translate(-0.8rem,-0.8rem);
}

.j-slide::before {
    content: '';
    position: absolute;
    height: 14rem;
    aspect-ratio: 1;
    top: -0.8rem;
    left: -0.8rem;
    outline: 4px dashed #f38040;
    border-radius: 33px;
    opacity: 0;
    transition: opacity 350ms ease-in-out 150ms, top 350ms ease-in-out 150ms, left 350ms ease-in-out 150ms;
}

.j-slide-input:nth-child(1):checked~.j-accordion>.j-slide:nth-child(1)::before,
.j-slide-input:nth-child(2):checked~.j-accordion>.j-slide:nth-child(2)::before,
.j-slide-input:nth-child(3):checked~.j-accordion>.j-slide:nth-child(3)::before,
.j-slide-input:nth-child(4):checked~.j-accordion>.j-slide:nth-child(4)::before {
    top: -2.4rem;
    left: -2.4rem;
    opacity: 1;
    transition: opacity 350ms ease-in-out 250ms, top 350ms ease-in-out 250ms, left 350ms ease-in-out 250ms;
}

.jury-name {
    font-family: var(--ff-title);
    font-size: var(--fs-500);
    font-weight: 600;
    margin-top: 2.25rem;
    text-transform: uppercase;
}

.jury-description {
    font-family: var(--ff-general);
    font-size: var(--fs-400);
    font-weight: 300;
    line-height: 36px;
    margin-top: 60px;
}

.j-slide-input:nth-child(1):not(:checked)~.j-accordion>.j-slide:nth-child(1) *,
.j-slide-input:nth-child(2):not(:checked)~.j-accordion>.j-slide:nth-child(2) *,
.j-slide-input:nth-child(3):not(:checked)~.j-accordion>.j-slide:nth-child(3) *,
.j-slide-input:nth-child(4):not(:checked)~.j-accordion>.j-slide:nth-child(4) * {
    font-size: 0;
}

.j-slide-input:nth-child(1):checked~.j-accordion {
    grid-template-columns: 1fr 0fr 0fr 0fr;
}

.j-slide-input:nth-child(2):checked~.j-accordion {
    grid-template-columns: 0fr 1fr 0fr 0fr;
}

.j-slide-input:nth-child(3):checked~.j-accordion {
    grid-template-columns: 0fr 0fr 1fr 0fr;
}

.j-slide-input:nth-child(4):checked~.j-accordion {
    grid-template-columns: 0fr 0fr 0fr 1fr;
}

.j-slide-input:nth-child(1):checked~.j-accordion>.j-slide:nth-child(1),
.j-slide-input:nth-child(2):checked~.j-accordion>.j-slide:nth-child(2),
.j-slide-input:nth-child(3):checked~.j-accordion>.j-slide:nth-child(3),
.j-slide-input:nth-child(4):checked~.j-accordion>.j-slide:nth-child(4) {
    visibility: visible;
}

.j-slide-input:nth-child(1):checked~.j-accordion>.j-slide:nth-child(1) *,
.j-slide-input:nth-child(2):checked~.j-accordion>.j-slide:nth-child(2) *,
.j-slide-input:nth-child(3):checked~.j-accordion>.j-slide:nth-child(3) *,
.j-slide-input:nth-child(4):checked~.j-accordion>.j-slide:nth-child(4) * {
    opacity: 1;
    transition: opacity 350ms ease-in-out 150ms;
}

.j-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 2.8rem;
}

.input-label {
    display: block;
    height: 1rem;
    aspect-ratio: 1;
    background-color: #F38040;
    margin-inline: 1rem;
    border-radius: 100vw;
    opacity: 0.3;
    transition: opacity 175ms ease-in;
    cursor: pointer;
}

.j-slide-input:nth-child(1):checked~.j-navigation>.input-label:nth-child(1),
.j-slide-input:nth-child(2):checked~.j-navigation>.input-label:nth-child(2),
.j-slide-input:nth-child(3):checked~.j-navigation>.input-label:nth-child(3),
.j-slide-input:nth-child(4):checked~.j-navigation>.input-label:nth-child(4) {
    opacity: 1;
    transition: opacity 250ms ease-out;
    cursor: auto;
}


#contact-us {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f7fAfB;
    gap: 0.2rem;
}

#contact-us>img {
    position: absolute;
    display: block;
    height: 7rem;
    aspect-ratio: 1;
    margin: 1.2rem;
}

#contact-us>.title {
    margin-bottom: 0rem;
}
#contact-us>.title:nth-of-type(1) {
    margin-top: 3rem;
}

#contact-us>.title::after{
    height: 1px;
    bottom: -0.6rem;
    left: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.esi {
    margin-block: 4rem;
}

.tswira {

}